@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Launch Pad</h1>
    <p class="lead">Break and Build stuff</p>
    <p>@Html.ActionLink("Manage Movie Store", "Index", new { area = "MovieStore", controller = "Movies", action = "Index" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Done:</h2>
        <p>
            Add MVC and Integrate into Entity Framework
            <br/>Add Javascript file on load
            <br/>Web ajax calls to Api
            <br/>Knockout View Model Binding with JSON serialized C# ViewModel
            <br/>KO mapping
            <br/>KO binding to select box
            <br/>parameterized Search post
            <br/>Decoupled LINQ query (30min)
            <br/>Observable triggers API call with parameter for filtering dropdowns
            <br/>Knockout javascript object mapping
            <br/>instead of using self convention, bind functions(etc) to 'this' at initiation
            <br/>Group Project into Areas
            <br/>Page Controller Post Signature: bind collection from URI (controller implemented only)
            <br/>integrate fa-fa icons
            <br/>IoC: Constructor Injection Auto fac
            <br/>IoC: Module Injections Auto fac
            <br/>Dynamic Message Routing driven by IoC
            <br/>Edit Handler
        </p>
    </div>
    <div class="col-md-4">
        <h2>Standard Web functionality</h2>
        <p>
            Cookie based authentication: https://app.pluralsight.com/player?course=owin-katana-understanding&author=chris-klug&name=owin-katana-understanding-m5&clip=2&mode=live
            <br/>Kendo grid integration
            <br/>Page loses selections after post
            <br/>Edit save edits to a table generated from a collection of objects with auto generated attributes.
            <br/>use update mapping from knockout
            <br/>Entity Framework Query style saving
            <br/>Page Movies
            <br/>OO Javascript style inheritance (This)
            <br/>Load Database Enumeration
            <br/>Details list saved information
            <br/>Basic CSS styling with zurb foundation
            <br/>Partial shared across view and edit
            <br/>messaging enterprise
            <br/>BUS NService Bus
            <br/>Que MSMQ o RabbitMQ
        </p>
    </div>
    <div class="col-md-4">
        <h2>EStream style improvements:</h2>
        <p>
            Add Helper so javascript is added like Estream
            <br/>Add html Helper so whole sections are generated with parameters
            <br/>Javascript libs: noty, require, amplify, moment, garlic,
            <br/>Javascript knockout: Binding helpers= processing indicator, custom bindings
            <br/>Javascript knockout: Validation helpers= processing indicator, spinner
        </p>
    </div>
    <div class="col-md-4">
        <h2>Server Side Functionality:</h2>
        <p>
            Big data
            <br/>Parrallel processing
            <br/>Distributed Computing
            <br/>map reduce tech
            <br/>Nservice bus
            <br/>Network Computing
            <br/>Create, Delete Handlers
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reading & Courses:</h2>
        <p>
            DDD Pluralsight
            <br/>Front End Masters: Javascript, the good parts
            <br/>Asp.Net book: my.safaribooksonline.com: phoebe, win3trip
            --Job req things to consider for growth
            8 years of industry experience in a variety of contexts, during which you've built insanely scalable, robust, and fault-tolerant systems
            Solid knowledge of the whole web stack (Front-End, Backend, Databases, Cache Layer, HTTP Protocol, TCP/IP, Linux, CPU Architecture, etc.
            Design vision willing to help your team understand how individual implementations requirements beyond the written word
        </p>
    </div>
</div>