@inherits System.Web.Mvc.WebViewPage<aspnet5.Areas.MovieStore.Models.LoginModel>
@using System.Web.Mvc.Html

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <div>
        @using (var form = Html.BeginForm())
        {
            <div>
                @Html.LabelFor(x => x.User)
                @Html.TextBoxFor(x => x.User)
            </div>
            <div>
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password)
            </div>
            <div>
                <input type="submit" value = "Log in"/>
            </div>
        }
    </div>
</body>
</html>
